mixin sWhatWeAre()
	// start sWhatWeAre
	+b.sWhatWeAre#sWhatWeAre&attributes(attributes)
		.container
			+e.block(href="https://www.youtube.com/watch?v=CQZYzGO8QlM"  data-fancybox="video-gal")
				img.lazy.picture-bg(src="#" data-src="img/@2x/mean.jpg" alt="")
				+e.DIV.inner
					+e.title Was wir f체r #[span.d-none.d-xxl-inline dich tun]
					+e.btnBlock
						+e.DIV.btn
							+icon('play')
						p In 20 Sekunden erkl채rt


mixin sWhatWeAre-about()
	// start sWhatWeAre
	+b.sWhatWeAre--about#sWhatWeAre&attributes(attributes)
		.container
			+e.block(href="https://www.youtube.com/watch?v=CQZYzGO8QlM"  data-fancybox="video-gal")
				img.lazy.picture-bg(src="#" data-src="img/@2x/Businessfoto.jpg" alt="")
				+e.DIV.inner
					+icon('nextLevel')
					+e.btnBlock
						+e.DIV.btn
							+icon('play')
					+e.title Was wir f체r dich tun

						//- p In 20 Sekunden erkl채rt

	// end sWhatWeAre