mixin sWhatWeAre()
	// start sWhatWeAre
	+b.sWhatWeAre#sWhatWeAre&attributes(attributes)
		.container
			+e.block(href="https://www.youtube.com/watch?v=CQZYzGO8QlM"  data-fancybox="video-gal")
				img.lazy.picture-bg(src="#" data-src="img/@2x/mean.jpg" alt="")
				+e.DIV.inner
					+e.title Was wir für #[span.d-none.d-xxl-inline dich tun]
					+e.btnBlock
						+e.DIV.btn
							+icon('play')
						p In 20 Sekunden erklärt

	// end sWhatWeAre