mixin sStatNumbers()
	// start sStatNumbers
	+b.SECTION.sStatNumbers#sStatNumbers&attributes(attributes)
		.container
			+b.section-title.text-center
				p Mehr als nur ein Versprechen
				h2 Lorem ipsum dolor sit amet consetetur
			+e.digits-bl
				+e.digits-row.row
					+statDigitsItem('1.988', 'Verfügbare', 'Kandidaten')
					+statDigitsItem('5.288', 'Jobs & Projekte', 'Kandidaten')
					+statDigitsItem('63.288', 'Erfolgreiche', 'Vermittlungen 2019')
				+e.bg-img-block
					img.lazy(src="#" data-src="img/@2x/digits-bg.png" alt="")
				+e.digits-descr
					p Auf der Grundlage unserer Kenntnisse und Erfahrungen erarbeiten wir effiziente und passende Handlungs- alternativen und sind davon &uuml;berzeugt, dass es&nbsp;f&uuml;r jede Situation die richtige L&ouml;sung gibt.
					p.d-xl-none.text-primary
						strong WORKING NEXT LEVEL 
						| - für uns mehr als ein Versprechen.
				+e.A.orange-btn(href='#') Mehr zur unseren Mission
			+partnersLogoSlider()

	// end sStatNumbers

mixin statDigitsItem(digits='1.988', boldWords='Verfügbare', commonWords='Kandidaten')
	+e.stat-digits-item.col-md-4
		.digits-item-txt.digits-boost-js=digits
		span=boldWords
		p=commonWords

mixin partnersLogoSlider()
	+b.partner-logoes-slider
		+e.pre-slider-txt
			span Unternehmen die uns vertrauen
		+e.partners-slider
			.swiper-container.partners-slider-js
				.swiper-wrapper
					+partnersLogoSlide(1)
					+partnersLogoSlide(2)
					+partnersLogoSlide(3)
					+partnersLogoSlide(4)
					+partnersLogoSlide(5)
					+partnersLogoSlide(6)

mixin partnersLogoSlide(imgNum=1)
	.swiper-slide
		a(href="#")
			img.lazy(src="#" data-src=`img/partners-logos-slider-${imgNum}.svg` alt="")

mixin sStatNumbers-uber()
	// start sStatNumbers
	+b.SECTION.sStatNumbers--uber#sStatNumbers&attributes(attributes)
		.container
			+b.section-title.text-center
				p Mehr als nur ein Versprechen
				h2 Impegio auf einem Blick
			+e.digits-bl
				+e.digits-row.row
					+statDigitsItem('8', 'Jahre ', 'Erfahrung')
					+statDigitsItem('800', 'Kunden', 'Nutzen unseren Service')
					+statDigitsItem('200', 'Mitarbeiter', 'Spezialisten')
				+e.bg-img-block
					img.lazy(src="#" data-src="img/@2x/digits-bg.png" alt="")
				+e.digits-descr
					p Unsere Mitarbeiter sind dabei der wichtigste Erfolgsfaktor. Kompetent und engagiert gestalten sie die Qualität unserer Arbeit und richten ihre Zielorientierung an Ihren Wünschen aus.
					p Wir wissen was es heißt, wenn aus Dienstleistung Verantwortung wird. Dieser gerecht zu werden, sehen wir als eine unserer obersten Verpflichtungen.
					p.text-primary #[b WORKING NEXT LEVEL] - für uns mehr als ein Versprechen.
			//- +partnersLogoSlider()