$default-font: "Avenir";
$default-font2: "Avenir Book";
$default-font3: "OpenSans";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: '../fonts/';
$file-format: woff2 woff;

// @include font-face ($default-font, $addr + "Roboto-Regular/Roboto-Regular", $file-formats: $file-format);
@include font-face ($default-font, $addr + "Avenir-Black/Avenir-Black", 900, $file-formats: $file-format);
@include font-face ($default-font2, $addr + "Avenir-Book/Avenir-Book", normal, $file-formats: $file-format);
// @include font-face ($default-font, $addr + "Avenir-Heavy/Avenir-Heavy", 900, $file-formats: $file-format);
@include font-face ($default-font, $addr + "Avenir-Light/Avenir-Light", 300, $file-formats: $file-format);
@include font-face ($default-font, $addr + "Avenir-Medium/Avenir-Medium", 500, $file-formats: $file-format);
@include font-face ($default-font, $addr + "Avenir-Roman/Avenir-Roman", normal, $file-formats: $file-format);
@include font-face ($default-font3, $addr + "OpenSans-Light/OpenSans-Light", 300, $file-formats: $file-format);
@include font-face ($default-font3, $addr + "OpenSans-Bold/OpenSans-Bold", 700, $file-formats: $file-format);

// font-weight helper:

// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Medium
// 600 Semi Bold
// 700 Bold
// 800 Extra Bold
// 900 Ultra Bold