extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sRecruting/_sRecruting.pug 
include ../blocks/sWhatWeAre/_sWhatWeAre.pug 
include ../blocks/sLinks/_sLinks.pug
include ../blocks/sResponsibility/_sResponsibility.pug
include ../blocks/sConvince/_sConvince.pug
include ../blocks/sQuality/_sQuality.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'title'
	title= title
block pagecontent 
	//- +mob-mnu()
	#home1-infos-inside
		+header()
			//- +top-nav()
			+topLine()
			+headerBlockAbout
		+sResponsibility()
			+breadcrumb('impegio.de','Home für Über impegio')
		+sWhatWeAre-about()
		+sQuality()
		+sLinks()
		+sRecruting()

		+sContact()
		+sConvince()
		+footer()
