extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sAdvantage/_sAdvantage.pug 
include ../blocks/sWhatWeAre/_sWhatWeAre.pug 
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sResponsibility/_sResponsibility.pug
include ../blocks/sConvince/_sConvince.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'impressum'
	title= title
block pagecontent 
	//- +mob-mnu()
	+header()
		//- +top-nav()
		+topLine()
		//- +headerBlockAbout()
	//- +sAdvantage()
	//- +sWhatWeAre()
	//- +sAbout()
	//- +sYourWork()
	//- +sResponsibility()
		//- +breadcrumb('impegio.de','Home für Über impegio')
	//- +sContact()
	//- +sConvince()
	+sContent()
	+footer()
