mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sContent
				
			.row
				.col-lg-3
				.col
					p 
						strong Vertreten durch:
						| Mario Grimm, Thorsten Rüßel <br>

	// end sContent