mixin sResponsibility()
	// start sResponsibility
	+b.SECTION.sResponsibility.section#sResponsibility&attributes(attributes)
		.container
			+e.breadWrap
				block
			.row
				.col
					+b.section-title.text-center
						span Wir übernehmen Verantwortung
						h2 working next level
						.h6 impegio steht für zeitgerechte, intelligente und innovative Lösungen im Bereich der Personalarbeit.
				.col
					
	// end sResponsibility