mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js
		span
	+b.menu-mobile--js
		+e.inner.d-none.d-lg-flex
			+e.topMnu
				+b.toggle-menu-mobile--js
					span
				+searchBlock('JOB FINDEN')
			+e.body
				+mail('info@impegio.de')
				+e.tel(href="tel:+49(741)9423810")
					+icon('phone')
					span +49 (741) 94 23 81 0
				+mnu()
				+searchBlockLine('Zur JOBBÖRSE')
			+soc()
			.text-right
		+e.inner.d-lg-none
			+e.topMnu
				+searchBlock('Zur Jobbörse')
				+b.toggle-menu-mobile--js
					span
			+mobMnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+mnu()
					
	// end top-nav