 
	  
.soc{
	margin: 0 rem(-5px);
	display: flex;
	&__item{
		text-decoration: none !important;
		margin: 0 rem(5px);
		border-radius: 50%;
		border: solid 1px #fff;
		color: #fff;
		@include mt;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: rem(8);
		width: rem(41);
		height: rem(41);
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	 
	.icon-fb {
		font-size: rem(21);
	}

	.icon-in {
		font-size: rem(17);
	}

	.icon-XING {
		font-size: rem(17);
	}

	.icon-inst {
		font-size: rem(19);
	}
}

.mail {
	color: #fff;
	text-decoration: none !important;
	display: block;

	.icon {
		margin-right: rem(20);
		font-size: rem(20);
	}

	span {
		@extend .h6;
		font-weight: 300;
	}
}
 
.searchBlock {
	text-decoration: none !important;
	display: flex;
	span {
		text-transform: uppercase;
		color: #fff;
		font-size: rem(20);
		text-transform: uppercase;
		max-width: rem(100);
		margin-bottom: 0;
		font-weight: 900;
		// margin-right: rem(10);
	}

	.icon {
		color: $primary;
		background-color: #fff;
		border-radius: 50%;
		padding: rem(8);
		font-size: rem(33);
	}

	&--line {
		align-items: center;
		span {
			max-width: 100%;
		}
	}
}

.moreDetailed {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 5;
	span {
		font-weight: 900;
		color: #fff;
		margin-right: rem(20);
	}

	&__line {
		display: block;
		width: 100%;
		height: 1px;
		background-color: #fff;
	}


	img {
		transform: rotate(-90deg);
		border: solid 1px #fff;
		border-radius: 50%;
		padding: rem(10);
		width: rem(41);
		height: rem(41);
		margin-left: rem(26);
		display: block;
	}
}

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

