mixin sQuality()
	// start sQuality
	+b.sQuality#sQuality&attributes(attributes)
		+e.head
			.container
				.row
					+e.col.col-lg
						.h1 Wir übernehmen Verantwortung
						.h6 impegio steht für die Qualität, die bei unseren Kunden und Mitarbeitern auch als solche ankommt.
					+e.picCol.col
						+pic('means','','')(class='picture-bg')


	// end sQuality