.tabSlider {
	&__slideNav {
		position: relative;
		z-index: 5;
		padding-top: rem(30);
		// padding-bottom: rem(30);
		margin-bottom: rem(67);
		border-bottom: solid 1px $gray-500;
	}

	.slide-name {
		display: flex;
		justify-content: center;
	}

	.swiper-button {
		&-next, &-prev {
			width: 41px;
			height: 41px;
			&::after {
				content: '';
				background-image: url('../img/svg/swiper-prev.svg');
				background-position: center;
				background-repeat: no-repeat;
				width: 41px;
				height: 41px;
			}
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
		&-next {
			&::after {
				transform: rotate(180deg);
			}
			&:hover{
				&::after {
					transform: rotate(0deg);
					background-image: url('../img/svg/swiper-next.svg');
				}
			}
		}
		&-prev {
			left: 91%;
			@include media-breakpoint-up(xxl) {
				left: 93%;
			}
			&:hover{
				&::after {
					transform: rotate(180deg);
					background-image: url('../img/svg/swiper-next.svg');
				}
			}
		}
	}

	.h4 {
		font-weight: 900;
		margin-bottom: rem(40);
		@include media-breakpoint-down(md) {
			font-size: rem(24.5);
		}
	}

	&__iconBlock {
		padding-top: rem(43);
		@include media-breakpoint-up(lg) {
			padding-left: rem(35);
		}
	}

	&__iconItem {
		display: flex;
		align-items: center;
		margin-bottom: rem(27);

		.icon {
			color: $primary;
			font-size: rem(45);
			margin-right: rem(23);
			width: rem(51);
		}

		.h6 {
			font-weight: 900;
			margin-top: rem(10);
			margin-bottom: 0;
		}
	}

	.swiper-pagination-bullet {
		width: auto;
		height: auto;
		text-transform: uppercase;
		font-weight: 900;
		border-radius: 0;
		color: $gray-500;
		margin-bottom: -2px;
		padding-bottom: rem(6);
		margin-left: rem(25);
		margin-right: rem(25);
		@include media-breakpoint-up(md) {
			margin-left: rem(45);
			margin-right: rem(45);
		}
		@include media-breakpoint-down(lg) {
			font-size: rem(14);
		}
		background-color: transparent;
		border-bottom: solid 3px transparent;

		&-active {
			background-color: transparent;
			color: $primary;
			border-bottom: solid 3px $primary;
		}
	}







	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
}