mixin sDetail()
	// start sDetail
	+b.SECTION.sDetail.section#sDetail&attributes(attributes)
		.container
			+breadcrumb('impegio.de','Home für Über impegio','Home für Über impegio')
			+b.section-title
				+e.logo Impegio
				h2 Engagement & Verantwortung
			.row
				.col-xxl-7.col-lg-6
					.h6 impegio m&ouml;chte die Entwicklung der Zeitarbeit bewusst mitgestalten. Vor diesem Hintergrund bef&uuml;rworten wir die Einf&uuml;hrung eines durchdachten und sinnvollen Equal Payment- Prinzips.<br><br> Wir vertreten den Standpunkt, dass Menschen gerecht entlohnt werden m&uuml;ssen. Es&nbsp;d&uuml;rfen keine sozialen Unterschiede zwischen der Stammbelegschaft des Kundenunternehmens und den &laquo;Kollegen auf Zeit&raquo; gemacht werden. Arbeits- und Fachkr&auml;fte, die als Zeitarbeitnehmer bei Unternehmen eingesetzt werden, zeichnen sich durch fundiertes Fachwissen, T&auml;tigkeitserfahrung und einem hohen Ma&szlig; an&nbsp;Flexibilit&auml;t aus.
					img.res-i.lazy(src="#" data-src="img/@2x/detail-1.jpg" alt="")
				+e.col.col
					img.res-i.lazy(src="#" data-src="img/@2x/detail-2.jpg", alt="")
					.h4.text-primary Gute Arbeits- und Fachkr&auml;fte werden immer die Wahl haben, sich f&uuml;r ein gutes Unternehmen entscheiden zu&nbsp;k&ouml;nnen. Equal Payment sichert Vorteile, wenn es&nbsp;um&nbsp;die besten Kr&auml;fte am&nbsp;Arbeitsmarkt geht.
					.h6 Wir von impegio bereiten den Weg f&uuml;r Equal Payment und informieren bereits jetzt unsere Kunden zu&nbsp;diesem Thema. Sollten Sie Interesse an&nbsp;einer individuellen Beratung zum Thema Equal Payment haben.
					+e.write.h4 Schreiben Sie uns bitte eine E-Mail.
					+mail('info@impegio.de')
	// end sDetail